# Dependências
node_modules/
npm-debug.log*

# Build e temporários
dist/
.DS_Store
*.log

# Electron
.electron-gyp/

# Saves locais (opcional, se quiseres que o teu progresso de jogo não vá para o git)
*.save